.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.icon {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  height: 315px;
  margin-top: 15px;
  background-color: lightgray;
}

.cell {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid gray;
}

.stone {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: darkgray;
  border: 4px solid;
  border-color: white gray gray white;
}

.backboard {
  box-sizing: border-box;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  width: 370px;
  height: 430px;
  margin-top: 3px;
  background-color: darkgray;
  border: 10px solid gray;
  border-color: rgb(240 240 240) gray gray rgb(240 240 240);
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 315px;
  height: 60px;
  border: 5px solid;
  border-color: gray white white gray;
}

.gameInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 45px;
  font-size: 30px;
  color: red;
  background-color: black;
}
