.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  min-height: 100vh;
  padding: 0 0.5rem;
}

.icon {
  display: flex;
  width: 30px;
  height: 30px;
  background: url('~/src/assets/images/icons.png') no-repeat;
}

.board {
  display: flex;
  flex-wrap: wrap;
  width: 315px;
  height: 315px;
  background-color: lightgray;
}

.cell {
  box-sizing: border-box;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  border: 1px solid gray;
}

.stone {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 35px;
  height: 35px;
  background-color: darkgray;
  border: 4px solid;
  border-color: white gray gray white;
}
